<%= form_for(@news) do |f| %>
  <% if @news.errors.any? %>
        <div id="error_explanation" xmlns="http://www.w3.org/1999/html">
      <h2><%= pluralize(@news.errors.count, "error") %> </h2>

      <ul>
      <h3 id="error" style="color:orangered">
      <% @news.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
      <% end %>
      </h3>
      </ul>
    </div>
  <% end %>

  <div class="field">
        <%= f.label :category %><br />
        <%= f.text_field :category %>
  </div>
  <div class="field">
        <%= f.label :title %><br />
        <%= f.text_field :title %>
  </div>
  <div class="field">
        <%= f.label :description %> <br />
        <%= f.text_area :description, rows: 6 %>
  </div>
  <div class="field">
        <%= f.label :image_url %> <br />
        <%= f.file_field :image_url %>
  </div>
  <div class="actions">
    <br></br>
        <%= f.submit %>
    <br></br>
  </div>
<% end %>
