<table>

  <td>
    <%=image_tag(@news.image_url,class: 'list_image') %>
  </td>
  <td class= "list_category">
    <p style= "color: white"> <%= @news.category %> </p>
  </td>
  <td class= "one_news">
    <dl>
      <dt><%= @news.title %></dt>
      <dd><%= @news.description %></dd>
    </dl>
  </td>

  <%= link_to 'Edit', edit_news_path(@news) %> |
  <%= link_to 'Back', news_index_path %>

</table>